extends layout.pug
block content
  //
    ------------------
    START - Mobile Menu
    ------------------
  .menu-mobile.menu-activated-on-click.color-scheme-dark
    .mm-logo-buttons-w
      a.mm-logo(href='index.html')
        img(src='/sciencewebassets/assets/img/logo2.png')
        span Science Web
      .mm-buttons
        .content-panel-open
          .os-icon.os-icon-grid-circles
        .mobile-menu-trigger
          .os-icon.os-icon-hamburger-menu-1
    .menu-and-user
      .logged-user-w
        .avatar-w
          img(alt='', src='/sciencewebassets/assets/img/avatar1.jpg')
        .logged-user-info-w
          .logged-user-name
            | Univelcity
          .logged-user-role
            | Administrator
      //
        ------------------
        START - Mobile Menu List
        ------------------
      //
        ------------------
        END - Mobile Menu List
        ------------------
  //
    ------------------
    END - Mobile Menu
    ------------------
  //
    ------------------
    START - Main Menu
    ------------------
  .container

    form#form
    if user
    .invoice-w(style='margin: 0 auto')
      input#fname(type="hidden", value=user.fname)
      input#lname(type="hidden", value=user.lfname)
      input#city(type="hidden", value=user.city)
      input#phone(type="hidden", value=user.phone)
      input#country(type="hidden", value=user.country)
      input#email(type="hidden", value=user.email)
      .infos
        .info-1
          .invoice-logo-w
            img(height='60', alt='', src='/sciencewebassets/assets/img/logo.png')
          .company-name
            | Science Web
          .company-address
            | 47 Countrylane Ave,
            br
            | Los Angeles, CA 97446
            br
            | United States
          .company-extra
            | tel. 858.745.5577
        .info-2
          .company-name#name #{user.fname + ' ' + user.lname}
          .company-address
            | #{user.baddress}
            br
            | #{user.city}, #{user.postalCode}
            br
            | #{user.country}
      .invoice-heading
        h3
          | Payment summary
        .invoice-date
          | #{date}
      .invoice-body
        .invoice-desc
          .desc-label
            | Invoice #
          .desc-value
            | HSFB 342823
        .invoice-table
          table.table
            thead
              tr
                th
                  | Description
                th
                  | Months
                th.text-right
                  | Price
            tbody
              tr
                td
                  | Science Web Subscription
                td
                  .form-group
                    select#monthPicker.form-control(name='months')
                      option(selected value='1') 1 Month
                      option(select value='3') 3 Months
                      option(value="6") 6 Months
                td.text-right
                  span $
                  span#amount 1000
            tfoot
              tr
                td
                  | Total
                td.text-right(colspan='2')
                  span $
                  span#total 1000
          .terms
            .terms-header
              | Terms and Conditions
            .terms-content
              //- | Should be paid as soon as received, otherwise a 5% penalty fee is applied
      .invoice-footer
        .invoice-logo
          img(alt='', src='/sciencewebassets/assets/img/logo.png')
          span Algorithm Analysis
        .invoice-info
          span hello@paper.inc
          span 858.757.4455
      button#submit.btn.btn-primary.btn-rounded.btn-block(type="submit") Pay and Continue.
  .display-type
