extends layout.pug
block content
  .menu-mobile.menu-activated-on-click.color-scheme-dark
    .mm-logo-buttons-w
      a.mm-logo(href='index.html')
        img(src='/sciencewebassets/assets/img/logo2.png')
        span Science Web
      .mm-buttons
        .content-panel-open
          .os-icon.os-icon-grid-circles
        .mobile-menu-trigger
          .os-icon.os-icon-hamburger-menu-1
    .menu-and-user
      .logged-user-w
        .avatar-w
          img(alt='', src='/sciencewebassets/assets/img/avatar1.jpg')
        .logged-user-info-w
          .logged-user-name
            | Univelcity
          .logged-user-role
            | Administrator
      //
        ------------------
        START - Mobile Menu List
        ------------------
      //
        ------------------
        END - Mobile Menu List
        ------------------
  //
    ------------------
    END - Mobile Menu
    ------------------
  //
    ------------------
    START - Main Menu
    ------------------
  .menu-w.color-scheme-light.color-style-transparent.menu-position-side.menu-side-left.menu-layout-compact.sub-menu-style-over.sub-menu-color-bright.selected-menu-color-light.menu-activated-on-hover.menu-has-selected-link.bg-white
    .logged-user-w.avatar-inline
      .logged-user-i
        .avatar-w
          img(alt='', src='/sciencewebassets/assets/img/avatar1.jpg')
        .logged-user-info-w
          .logged-user-name
            | Univelcity
          .logged-user-role
            | Administrator
        .logged-user-toggler-arrow
          .os-icon.os-icon-chevron-down
    h1.menu-page-header
      | Page Header
    each article in articles
      .element-wrapper.bg-white.pt-3
        .text-center
          img(src='#{article.thumbnail}', alt='', width='200')
          .mt-3
            a(href='#') Volume #{article.volume}, issue #{article.issues}
            p #{article.publishedDate}
        .mt-3
          h5.text-center.font-weight-bold Article Contents
          .ml-4.mr-2
            p Abstract
            p Introduction
            p Lorem Puisum fuga necessitatibus
            p Chemical Properties of lorem Puisum fuga necessitatibus
  //
    ------------------
    END - Main Menu
    ------------------
  .content-w
    .content-i
      .content-box.bg-white
        .element-wrapper.compact.pt-4.pb-0
          .element-actions
            a.btn.btn-primary.btn-sm(href='/scienceweb/addArticle')
              i.os-icon.os-icon-ui-22
              span Add Article
          h6.element-header
            | Search Details
        .container
          each article in articles
            .row.mt-5
              .col-lg-12.col-xxl-12
                p
                  span.display-4.font-weight-bold #{article.title}
                p
                  a.font-weight-bold(href='#') #{article.author}
                  i.ml-2.os-icon.os-icon-mail
                p
                  | #{article.branch} (#{article.publishedDate.split('/')[2]}) volume: #{article.volume} issues: (#{article.issues}) pages: #{article.page},
                  span.ml-4
                    | DOI :
                    a(href='#') #{article.roi}
                p
                  strong Published :
                  |  #{article.publishedDate}
                  select.border-light.ml-2.p-2.font-weight-bold(name='', id='')
                    option(value='') Activity History
                    option(value='') Book History
                p
                  i.os-icon.os-icon-window-content
                  select.border-0.font-weight-bold(name='', id='')
                    option(value='') Activity History
                    option(value='') Book History
                  span.ml-4
                    i.os-icon.os-icon-file
                    |                                             PDF File
                  span.ml-4
                    i.os-icon.os-icon-basic-1-138-quotes
                    |                                             Cite
                  span.ml-4
                    i.os-icon.os-icon-share-2
                    select.border-0.font-weight-bold(name='', id='')
                      option(value='') Share
                      option(value='') Book History
                  span.ml-4
                    i.os-icon.os-icon-settings
                    select.border-0.font-weight-bold(name='', id='')
                      option(value='') Tools
                      option(value='') Book History
                hr
                .row
                  .col-lg-12.col-xxl-12
                    .bg-light.p-5
                      h5 Abstract
                      p #{article.abstract}
    .display-type
